.App {
  text-align: center;
  text-decoration: none;
  color: gray;
}
/* 
/* styles About headers */
h1, h3{
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: gray;
}
.name {
  color: white;

}


/* styles footer */
.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color:#ff4d2a;
  opacity: 40%;
  text-align: center;
  padding: 10px;
  color:white;
  }
.awesome {
  color: white;
  font-size: 40px;
}
.header {
  /* position: fixed; */
  width: 100%;
  left: 0;
  bottom: 0;
  background-color:#ff4d2a;
  opacity: 40%;
  text-align: center;
  padding: 10px;
  color:white;
  }
.awesome {
  color: white;
  font-size: 40px;
}

/* default portfolio style */
#portfolio {
  background-color: grey;
  padding: 10%;
  
  margin-left: auto;
  margin-right: auto;
}

.container-fluid{
  padding: 0%;
}
/* default Home/About style*/
#about {
  padding: 15%;
  background-color: gray;
  color: white;
  text-align: center;

}
#contact {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.card {
  margin-bottom: 10%;
}

/* style for screens larger than 768px */
@media screen and (min-width: 768px){
  #about{
      background-color: white;
      color: black;
      padding: 10% 10% 0% 10%;
      text-align: left;
  }
  
  
}

